.ProjectInfoView {
    height: 150px;
    width: 100%;
    background: #ededed;
}

.ProjectInfoHeader {
    height: 30%;
    width: 70%;
    text-align: left;
    background: #ededed;
    font-style: bold;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 8px;
}

.ProjectTitle {
    font-size: 2em;
    color: #4671A3;
}

.ProjectInfoDescription
{
    text-align: left;
    margin-left: 2px;
    margin-right: 20px;
    margin-top: 25px;
}

.CreateDescriptionMargin {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}