.ProjectInfoView {
    height: 150px;
    width: 100%;
    background: #ededed;
}

.ProjectHeaderAndMembers {
    display: flex;
}

.ProjectInfoHeader {
    flex-grow: 1;
    height: 30%;
    width: 70%;
    text-align: left;
    background: #ededed;
    font-style: bold;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 8px;
}

.ProjectTitle {
    font-size: 2em;
    color: #4671A3;
}

.Members {
    display: inline-block;
    text-align: left;
    color: #4A4A4A;
    margin-top: 15px;
    margin-right: 20px;
    white-space: nowrap;
    max-width: 500px;
}

.Owner {
    display: inline;
}

.ProjectInfoDescription
{
    text-align: left;
    margin-left: 2px;
    margin-right: 20px;
}

.CreateDescriptionMargin {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

.PFP {
    border-radius: 50%;
    padding-left: 5px;
}