.Tasks {
	height: 110px;
	border: 0.5px solid #9B9B9B;
    border-radius: 4px;
    margin: 10px;
}

.Task-Row{
	display: flex;
	height: 100%;
}

.Task-Name-Description, .Task-Status {
	height: 100%;
	padding-left: 15px;
	align-self: center;
	align-items: center;
}

.flex-fill {
	flex-grow: 1;
}

.Task-Status {
	width: 75px;
}